.G7-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  .G7-body {
    background-color: #3e3e40;
    width: 100vmin;
    height: 55vmin;

    box-shadow: 0 0 1em black;
    
    border: solid 2vmin #222;
    border-top: none;
    border-bottom: none;

    display: flex;
    
    .G7-efx-chain {
      display: flex;
      width: 75vmin;
      flex-wrap: wrap;
      justify-content: space-evenly;
      position: relative;
      top: 13vmin;
    }

    .G7-expression {
      margin-left: auto;
      margin-top: 1vmin;

      right: 1vmin;
      position: relative;

      background: #2c2c2e;
      box-shadow: 0 0 0.3em black;
      width: 18.3vmin;
      height: 50vmin;

      border: 1vmin solid silver;
      border-top-left-radius: 3vmin;
      border-top-right-radius: 3vmin;
      border-bottom-left-radius: 3vmin;
      border-bottom-right-radius: 3vmin;
      span {
        font-size: 17vmin;
        margin-top: 5vmin;
        color: #27282a;
        font-weight: bold;

        writing-mode: vertical-rl;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
}