.Display-container {
  display: flex;
  background: black;
  width: max-content;
  box-shadow: 0 0 0.3em black;

  position: absolute;

  border: 0.5vmin solid silver;
  border-top-left-radius: 2vmin;
  border-top-right-radius: 2vmin;
  border-bottom-left-radius: 2vmin;
  border-bottom-right-radius: 2vmin;

  margin-top: 1vmin;
  margin-left: 1vmin;
  
  .Display-body {
    text-align: left;
    background: #1da7f7;
    box-shadow: 0 0 0.2em #1da7f7;
    margin: 1vmin;

    .Display-words {
      color: white;
      font-weight: 100vmin;
      font-size: 1.5vmin;
    }
  }
}
