.Bank-container {
  display: flex;
  flex-direction: column;
  margin: 1vmin;

  .Bank-select {
    color: red;
    background: black;
    font-family: "digital-7", sans-serif;
    font-size: 5vmin;
  }
}
